extends base

block content
  
  main.main
    .product
        .product-detail
        img.product-detail__image(src=`/img/product/${product.images[0]}` alt=`${product.name}`)
        h2.product-detail__title= product.name
        p.product-detail__description= product.description
        p.product-detail__price= `Price: $${product.price} per person`

        // Container for the booking button
        .product-detail__button-container
            a.button(href=`/book/${product.slug}`) Book Now

        // Optionally, add more detailed information
        if product.details
            h3 Additional Details
            ul.product-detail__extra
                each detail in product.details
                    li= detail
    br
    br
    br
    br
    br
    br
    br
    br
    br



